@charset "UTF-8";
.btn-music {
    background-image: url('../images/music.png');
    background-size: contain;
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top: 0.6rem;
    right: 0.5rem;
    z-index: 999;
    animation: btnMusicAni 3s infinite linear;
}
.btn-music.paused {
    opacity: 0.4;
    animation: none;
}

@keyframes btnMusicAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}