@charset "UTF-8";

.dark_background {
    background: url('../images/main_page_background.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // position: absolute;
    .logo {
        background-image: url('../images/logo2.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: fixed;
        margin: 0 35% 0 35%;
        width: 30%;
        height: 7%;
        top: 1%;
        z-index: 3; 
    }
}