.interactive {
    background-color: #fff;
    background-image: url('../images/interactive_background.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    .logo {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;
        padding: 0;
        width: 8rem;
        height: 15%;
        position: relative;
        top: 4%;
        margin: 0 auto;
        z-index: 3;
    }
    .neon {
        width: 96%;
        height: 81%;
        margin: 0 auto;
        background-image: url('../images/interactive_neon.png');
        background-repeat: no-repeat;
        background-size:100% 100%;
        border: 0;
        padding: 0;
        position: relative;
        animation:blink 0.8s infinite;
        -webkit-animation:blink 0.8s infinite;
    }
    .left_door,
    .right_door {
        background-image: url('../images/interactive_door.png');
        background-repeat:no-repeat;
        background-size:100% 100%;
        -moz-background-size:100% 100%;
        position: fixed;
        width: 50%;
        height: 100%;
        margin: 0;
        left: 0;
        z-index: 1;
    }
    .right_door {
        left: 50%;
    }
    @keyframes blink{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 100;
        }
        100%{
            opacity: 0;
        }
    }
    @-webkit-keyframes blink{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 100;
        }
        100%{
            opacity: 0;
        }
    }
    
}