.shang {
    .header {
        background: url('/images/le_shang_header.png') center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;
        padding: 0;
        width: 80%;
        height: 15%;
        position: fixed;
        top:8%;
        margin: 0 10% 0 10%;
        z-index: 3;
    }
    .page1 {
        .popup1 {
            background: url('/images/le_shang_popup1.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 80%;
            height: 15%;
            position: absolute;
            top: 20%;
            margin: 0 10% 0 10%;
            z-index: 3;
        }
        .circleBox {
            background-color: transparent;
            padding: 0;
            width: 80%;
            height: 15%;
            position: absolute;
            top: 35%;
            margin: 5% 10% 0 10%;
            z-index: 3;
            display: grid;
            text-align: center;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 80%;
            .circle_1,.circle_2,.circle_3 {
                display: none;
                background-repeat: no-repeat!important;
                background-size: contain!important;
            }
            .circle_1 {
                background: url('/images/le_shang_circle1.png') center;
            }
            .circle_2 {
                background: url('/images/le_shang_circle2.png') center;
            }
            .circle_3 {
                background: url('/images/le_shang_circle3.png') center;
            }
        }
        .popup2 {
            background: url('/images/le_shang_popup2.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            padding: 0;
            width: 80%;
            height: 15%;
            position: absolute;
            top: 55%;
            margin: 0 10% 0 10%;
            z-index: 3;
            display: none;
        }
    }

    .page2 {
        .popup1 {
            background: url('/images/le_shang_popup3.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 80%;
            height: 15%;
            position: absolute;
            top: 20%;
            margin: 0 10% 0 10%;
            z-index: 3;
            display: none;
        }
        .text {
            background: url('/images/le_shang_text1.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 42%;
            height: 8%;
            position: absolute;
            top: 32%;
            margin: 0 29% 0 29%;
            z-index: 3;
            display: none;
        }
        .arrow {
            background-image: url('/images/le_shang_arrow1.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 62%;
            height: 15%;
            position: absolute;
            top: 40%;
            margin: 0 19% 0 19%;
            z-index: 3;
            display: none;
        }
        .coinBar {
            width: 80%;
            height: 25%;
            position: absolute;
            top: 45%;
            margin: 0 10% 0 10%;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: 100%;
            z-index: 3;
            .bar1 {
                background-image: url('/images/le_shang_coin_bar1.png');
            }
            .bar2 {
                background-image: url('/images/le_shang_coin_bar2.png');
            }
            .bar3 {
                background-image: url('/images/le_shang_coin_bar3.png');
            }
            .bar4 {
                background-image: url('/images/le_shang_coin_bar4.png');
            }
            .bar5 {
                background-image: url('/images/le_shang_coin_bar5.png');
            }
            .bar1,.bar2,.bar3,.bar4,.bar5 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: bottom;
                animation-duration: .1s;
                display: none;
            }
        }
    }
    .page3 {
        .popup1 {
            background: url('/images/le_shang_popup4.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 80%;
            height: 15%;
            position: absolute;
            top: 20%;
            margin: 0 10% 0 10%;
            z-index: 3;
            display: none;
        }
        .text1 {
            background: url('/images/le_shang_text2.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 30%;
            height: 5%;
            position: absolute;
            top: 32%;
            margin: 0 35% 0 35%;
            z-index: 3;
            display: none;
        }
        .text2 {
            background: url('/images/le_shang_text3.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 25%;
            height: 5%;
            position: absolute;
            top: 35%;
            margin: 0 37.5% 0 37.5%;
            z-index: 3;
            display: none;
        }
        .grid {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 26% 20% 20%;
            width: 70%;
            height: 35%;
            top: 40%;
            margin: 0 15% 0 15%;
            position: absolute;
            background-size: cover;

            z-index: 3;
            .popup2 {
                background: url('/images/le_shang_popup5.png') top;
            }
            .popup3 {
                background: url('/images/le_shang_popup6.png') top;
            }
            .popup4 {
                background: url('/images/le_shang_popup7.png') top;
            }
            .popup2,.popup3,.popup4 {
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                z-index: 3;
                display: none;
                height: 100%;
                width: 100%;
            }
        }
        .text3 {
            background-image: url('/images/le_shang_text4.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 30%;
            height: 15%;
            position: absolute;
            top: 70%;
            margin: 0 35% 0 35%;
            z-index: 3;
            display: none;
        }
    }
    .page4 {
        .popup1 {
            background: url('/images/le_shang_popup8.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 80%;
            height: 15%;
            position: absolute;
            top: 20%;
            margin: 0 10% 0 10%;
            z-index: 3;
            display: none;
        }
        .pig {
            background: url('/images/le_shang_pig.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 30%;
            position: absolute;
            top: 40%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
    }
    .page5 {
        .content {
            background: url('/images/le_shang_content.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 80%;
            height: 35%;
            position: absolute;
            top: 35%;
            margin: 0 10% 0 10%;
            z-index: 3;
            display: none;
        }
    }
    .page6 {
        .continue {
            background: url('/images/le_shang_continue.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 40%;
            height: 15%;
            position: absolute;
            top: 30%;
            margin: 0 30% 0 30%;
            z-index: 3;
            display: none;
        }
        .go {
            background: url('/images/le_shang_go.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 60%;
            height: 15%;
            position: absolute;
            top: 50%;
            margin: 0 20% 0 20%;
            z-index: 3;
            display: none;
        }
    }

    .coins_wrapper {
        width: 100%;
        height: 20%;
        bottom: 0;
        position: absolute;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        .coins {
            background: url('/images/le_shang_coins.png') bottom;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 0;
            width:100%;
            height:100%;
        }
    }
    .girl {
        background: url('/images/le_shang_girl.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
        width: 25%;
        height: 28%;
        bottom: 0;
        position: absolute;
        left: 10%;
        z-index: 9;
    }
    .singleCoin {
        background: url('/images/le_shang_single_coin.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 14%;
        height: 10%;
        bottom: 8%;
        left: 33%;
        position: absolute;
        z-index: 9;
    }
    .hand {
        background: url('/images/le_shang_hand.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        z-index: 10;
        animation: upAni 2s infinite linear;
        display: none;
    }
    
}
@keyframes upAni {
    0% {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0);
    }

    30% {
        opacity: 1;
        transform: translate3d(-50%, -35%, 0);
    }

    60% {
        opacity: 0;
        transform: translate3d(-50%, -20%, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(-50%, 30%, 0);
    }
}