.xiang {
    .scene {
        background: url('../images/le_xiang_scene.png') center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        animation: fade 3s infinite;
        -webkit-animation: fade 3s infinite;
    }
    .big_logo_wrapper {
        width: 100%;
        height: 18%;
        top: 8%;
        position: fixed;
        .bigLogo {
            background: url('../images/le_xiang_big_logo.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 80%;
            height: 100%;
            margin: 0 auto;
        }
    }
    .page1 {
        .popup1 {
            background: url('../images/le_xiang_popup1.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 15%;
            position: absolute;
            top: 26%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
        .grid {
            top: 43%;
            width: 58%;
            height: 20%;
            display: grid;
            text-align: center;
            position: absolute;
            grid-template-columns: 100%;
            grid-template-rows: 33% 33% 33%;
            margin: 0 22.5% 0 22.5%;
            background-size: contain;
            z-index: 2;
            .popup2 {
                background: url('../images/le_xiang_popup2.png') center;
                margin-left: 5%;
                margin-right: 20%;
                left: 0;
            }
            .popup3 {
                background: url('../images/le_xiang_popup3.png') center;
                right: 0;
                margin-left: 20%;
                margin-right: 5%;
            }
            .popup4 {
                background: url('../images/le_xiang_popup4.png') center;
                margin-left: 5%;
                margin-right: 20%;
            }
            .popup2,.popup3,.popup4 {
                display: none;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .popup5 {
            background: url('../images/le_xiang_popup19.png') center;
            position: absolute;
            width: 60%;
            height: 15%;
            top: 43%;
            left: 10%;
            display: none;
            background-size: contain;
            background-repeat: no-repeat;
            &.show {
                // -webkit-animation-name: flashTwice;
                // animation-name: flashTwice;
                display: block;
                z-index: 3;
            }
        }
    }
    .page2 {
        .popup1 {
            background: url('../images/le_xiang_popup5.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 15%;
            position: absolute;
            top: 26%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
        .grid {
            top: 43%;
            width: 58%;
            height: 20%;
            display: grid;
            text-align: center;
            position: absolute;
            grid-template-columns: 100%;
            grid-template-rows: 33% 40%;
            margin: 0 22.5% 0 22.5%;
            background-size: contain;
            z-index: 2;
            .popup2 {
                background: url('../images/le_xiang_popup6.png') center;
                margin-left: 5%;
                margin-right: 20%;
                left: 0;
            }
            .popup3 {
                background: url('../images/le_xiang_popup7.png') center;
                right: 0;
                margin-left: 20%;
                margin-right: 5%;
            }
            .popup2,.popup3 {
                display: none;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .popup4 {
            background: url('../images/le_xiang_popup20.png') center;
            position: absolute;
            width: 30%;
            height: 10%;
            top: 42%;
            right: 12%;
            display: none;
            background-size: contain;
            background-repeat: no-repeat;
            &.show {
                // -webkit-animation-name: flashTwice;
                // animation-name: flashTwice;
                display: block;
                z-index: 3;
            }
        }
    }
    .page3 {
        .popup1 {
            background: url('../images/le_xiang_popup8.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 15%;
            position: absolute;
            top: 26%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
        .grid {
            top: 43%;
            width: 58%;
            height: 20%;
            display: grid;
            text-align: center;
            position: absolute;
            grid-template-columns: 100%;
            grid-template-rows: 33% 33% 33%;
            margin: 0 22.5% 0 22.5%;
            background-size: contain;
            .popup2 {
                background: url('../images/le_xiang_popup9.png') center;
                margin-left: 5%;
                margin-right: 20%;
                left: 0;
            }
            .popup3 {
                background: url('../images/le_xiang_popup10.png') center;
                right: 0;
                margin-left: 20%;
                margin-right: 5%;
            }
            .popup4 {
                background: url('../images/le_xiang_popup11.png') center;
                margin-left: 5%;
                margin-right: 20%;
            }
            .popup2,.popup3,.popup4 {
                display: none;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 8;
            }
        }
    }
    .page4 {
        .popup1 {
            background: url('../images/le_xiang_popup12.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 15%;
            position: absolute;
            top: 26%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
        .popup2 {
            width: 60%;
            height: 15%;
            display: none;
            position: absolute;
            top: 42%;
            margin: 0 20% 0 20%;
            background: url('../images/le_xiang_popup13.png') center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .page5 {
        .popup1 {
            background: url('../images/le_xiang_popup14.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 15%;
            position: absolute;
            top: 26%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
        .grid {
            top: 43%;
            width: 58%;
            height: 25%;
            display: grid;
            text-align: center;
            position: absolute;
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
            margin: 0 22.5% 0 22.5%;
            background-size: contain;
            z-index: 2;
            .popup2 {
                background: url('../images/le_xiang_popup15.png') center;
                margin-left: 5%;
                margin-right: 20%;
                left: 0;
            }
            .popup3 {
                background: url('../images/le_xiang_popup16.png') center;
                right: 0;
                margin-left: 20%;
                margin-right: 5%;
            }
            .popup4 {
                background: url('../images/le_xiang_popup17.png') center;
                margin-left: 5%;
                margin-right: 20%;
            }
            .popup5 {
                background: url('../images/le_xiang_popup18.png') center;
                right: 0;
                margin-left: 20%;
                margin-right: 5%;
            }
            .popup2,.popup3,.popup4,.popup5 {
                display: none;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .popup6 {
            background: url('../images/le_xiang_popup21.png') center;
            position: absolute;
            width: 30%;
            height: 15%;
            top: 35%;
            right: 13%;
            display: none;
            background-size: contain;
            background-repeat: no-repeat;
            &.show {
                // -webkit-animation-name: flashTwice;
                // animation-name: flashTwice;
                display: block;
                z-index: 3;
            }
        }
    }
    .page6 {
        .continue {
            background: url('../images/le_xiang_continue.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 40%;
            height: 15%;
            position: absolute;
            top: 30%;
            margin: 0 30% 0 30%;
            z-index: 3;
            display: none;
        }
        .go {
            background: url('../images/le_xiang_go.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 60%;
            height: 15%;
            position: absolute;
            top: 50%;
            margin: 0 20% 0 20%;
            z-index: 3;
            display: none;
        }
    }
    .clown {
        width: 100%;
        height: 50%;
        bottom: 0;
        position: absolute;
    }
    .clownUnclick {
        animation: clownUnclick 1s infinite;
        -webkit-animation: clownUnclick 1s infinite;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .clownClick {
        animation: clownClick 1s;
        -webkit-animation: clownClick 1s;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bubble_wrapper {
        width: 100%;
        height: 38%;
        bottom: 0;
        position: absolute;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        .bubble {
            background: url('../images/le_xiang_bubble1.png') bottom;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 0;
            width:100%;
            height:100%;
            animation: bubbleAni 2s infinite;
            -webkit-animation: bubbleAni 2s infinite;
        }
    }
    .hand {
        background: url('../images/le_shang_hand.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: 20%;
        left: 70%;
        transform: translate3d(-50%, 0, 0);
        z-index: 10;
        animation: upAni 2s infinite linear;
        -webkit-animation: upAni 2s infinite linear;
        display: none;
        &.guide1 {
            height: 5%;
            left: 32%;
            bottom: 42%;
        }
        &.guide2 {
            height: 5%;
            left: 75%;
            bottom: 48%;
        }
        &.guide5 {
            height: 5%;
            left: 75%;
            bottom: 48%;
        }
    }
}
@keyframes clownUnclick {
    0% {
        background: url('../images/le_xiang_clown_unclick1.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    50% {
        background: url('../images/le_xiang_clown_unclick2.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    100% {
        background: url('../images/le_xiang_clown_unclick1.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@-webkit-keyframes clownUnclick {
    0% {
        background: url('../images/le_xiang_clown_unclick1.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    50% {
        background: url('../images/le_xiang_clown_unclick2.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    100% {
        background: url('../images/le_xiang_clown_unclick1.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@keyframes clownClick {
    0% {
        background: url('../images/le_xiang_clown_click1.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    33% {
        background: url('../images/le_xiang_clown_click2.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    66% {
        background: url('../images/le_xiang_clown_click3.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    100% {
        background: url('../images/le_xiang_clown_click4.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@-webkit-keyframes clownClick {
    0% {
        background: url('../images/le_xiang_clown_click1.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    33% {
        background: url('../images/le_xiang_clown_click2.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    66% {
        background: url('../images/le_xiang_clown_click3.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    100% {
        background: url('../images/le_xiang_clown_click4.png') bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@keyframes bubbleAni {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
@-webkit-keyframes bubbleAni {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
@-webkit-keyframes flashTwice {
    from,
    50%,
    to {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
}
@keyframes flashTwice {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}