.xue {
    .header {
        background: url('/images/le_xue_header.png') center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;
        padding: 0;
        width: 80%;
        height: 15%;
        position: absolute;
        top:8%;
        margin: 0 10% 0 10%;
        z-index: 3;
    }
    .teacher {
        background-color: transparent;
        width: 100%;
        height: 50%;
        bottom: 0;
        position: absolute;
        z-index: 2;
    }
    .teacherUnclick {
        animation: teacherUnclick 1s infinite;
    }
    .teacherClick {
        animation: teacherClick 1s infinite;
    }
    .blackboard {
        background: url('/images/le_xue_scene.png') center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        width: 90%;
        height: 50%;
        position: absolute;
        margin: 0 5% 0 5%;
        top:31%;
        z-index: 1;
    }
    .page1 {
        .text1 {
            background: url('/images/le_xue_text1.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 90%;
            height: 14%;
            position: absolute;
            margin: 0 5% 0 5%;
            top:20%;
            z-index: 3;
        }
        .pie {
            background: url('/images/le_xue_pie.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 45%;
            height: 30%;
            position: absolute;
            margin: 0 27.5% 0 27.5%;
            top: 38%;
            z-index: 2;
            display:none;
        }
        .grid {
            top: 35%;
            height: 45%;
            width: 80%;
            display: grid;
            position: absolute;
            grid-template-columns: 40% 20% 40%;
            grid-template-rows: 55% 45%;
            margin: 0 10% 0 10%;
            background-size: contain;
            .description1 {
                background: url('/images/le_xue_description1.png') right;
                width: 100%;
                height: 60%;
            }
            .description2 {
                background: url('/images/le_xue_description2.png');
                width: 100%;
                height: 50%;
            }
            .description3 {
                background: url('/images/le_xue_description3.png');
                width: 100%;
                height: 40%;
                margin-top: 10%;
            }
            .description1,.description2,.description3 {
                background-repeat: no-repeat;
                background-color: transparent;
                background-size: contain;
                display:none;
                z-index: 2;

            }
            .blank1, .blank2, .blank3 {
                display: none;
            }
        }
    }
    .page2 {
        .text1 {
            background: url('/images/le_xue_text2.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 90%;
            height: 14%;
            position: absolute;
            margin: 0 5% 0 5%;
            top:20%;
            z-index: 3;
            display: none;
        }
        .content_wrapper {
            top: 45%;
            height: 42%;
            width: 60%;
            position: absolute;
            background-size: contain;
            margin: 0 20% 0 20%;
            z-index: 2;
            .content1 {
                margin: 0 75% 0 0;
                background: url('/images/le_xue_content1.png') left;
            }
            .content2 {
                background: url('/images/le_xue_content2.png') top;
                margin: 0 0 0 31%;
                top: -19%;
            }
            .content3 {
                background: url('/images/le_xue_content3.png') bottom;
                margin: 32% 75% 0 18%;
            }
            .content4 {
                background: url('/images/le_xue_content4.png') right;
                margin: 10% 75% 0 50%;                
                
            }
            .content1,.content2,.content3,.content4 {
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
                width: 50%;
                height: 40%;
                display: none;
            }
        }
        .text2 {
            background: url('/images/le_xue_text3.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 25%;
            height: 14%;
            position: absolute;
            margin: 0 60% 0 15%;
            top:65%;
            z-index: 3;
            display: none;
        }
    }
    .page3 {
        .text1 {
            background: url('/images/le_xue_text4.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 90%;
            height: 14%;
            position: absolute;
            margin: 0 5% 0 5%;
            top:20%;
            z-index: 3;
            display: none;
        }
        .question {
            background: url('/images/le_xue_question.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 20%;
            height: 14%;
            position: absolute;
            margin: 0 70% 0 10%;
            top:38%;
            z-index: 3;
            display: none;
        }
        .grid {
            width: 58%;
            height: 15%;
            position: absolute;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 33% 33% 33%;
            margin: 0 21% 0 21%;
            top: 45%;
            z-index: 3;
            .bullet1 {
                background: url('/images/le_xue_bullet1.png') left;
                
            }
            .bullet2 {
                background: url('/images/le_xue_bullet2.png') left;
                margin-right: 27%;
            }
            .bullet3 {
                background: url('/images/le_xue_bullet3.png') left;
                margin-right: 21%;
            }
            .bullet1, .bullet2, .bullet3 {
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: 2%;
                display: none;
            }
        }
        .no {
            background: url('/images/le_xue_no.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 50%;
            height: 15%;
            position: absolute;
            top: 57%;
            margin: 0 25% 0 25%;
            z-index: 3;
            display: none;
        }
    }
    .page4 {
        .grid {
            width: 62%;
            height: 38%;
            position: absolute;
            display: grid;
            grid-template-columns: 100%;
            margin: 0 17.5% 0 15%;
            grid-template-rows: 40% 60%;
            top: 38%;
            z-index: 3;
            .content1 {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 28% 17.5% 16.9%;
                grid-row-gap: .4rem;
                top: 0;
                z-index: 3;
                .title {
                    background: url('/images/le_xue_title1.png');
                }
                .bullet1 {
                    background: url('/images/le_xue_bullet4.png');
                }
                .bullet2 {
                    background: url('/images/le_xue_bullet5.png');
                }
                .title, .bullet1, .bullet2 {
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: none;
                }
            }
            .content2 {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 18.6% 11% 11.4% 11.1% 11%;
                grid-row-gap: .4rem;
                top: 0;
                z-index: 3;
                .title {
                    background: url('/images/le_xue_title2.png');
                }
                .bullet1 {
                    background: url('/images/le_xue_bullet6.png');
                }
                .bullet2 {
                    background: url('/images/le_xue_bullet7.png');
                }
                .bullet3 {
                    background: url('/images/le_xue_bullet8.png');
                }
                .bullet4 {
                    background: url('/images/le_xue_bullet9.png');
                }
                .title, .bullet1, .bullet2, .bullet3, .bullet4 {
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: none;
                }
            }
        }
    }
    .page5 {
        .continue {
            background: url('/images/le_xue_continue.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 40%;
            height: 15%;
            position: absolute;
            top: 40%;
            margin: 0 30% 0 30%;
            z-index: 3;
            display: none;
        }
        .go {
            background: url('/images/le_xue_go.png') center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 60%;
            height: 15%;
            position: absolute;
            top: 54%;
            margin: 0 20% 0 20%;
            z-index: 3;
            display: none;
        }
    }
    .hand {
        background: url('/images/le_shang_hand.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: 20%;
        right: 24%;
        transform: translate3d(-50%, 0, 0);
        z-index: 10;
        animation: downAni 2s infinite linear;
        display: none;
    }
}
// iPhone X
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .xue {
        .page1 {
            .grid {
                .description2 {
                    margin-top: 27%;
                }
                .description3 {
                    margin-top: 33%;
                }
            }
        }
    }
}
@keyframes downAni {
    0% {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) rotateY(180deg);;
    }

    30% {
        opacity: 1;
        transform: translate3d(-50%, -35%, 0) rotateY(180deg);;
    }

    60% {
        opacity: 0;
        transform: translate3d(-50%, -20%, 0) rotateY(180deg);;
    }

    100% {
        opacity: 0;
        transform: translate3d(-50%, 30%, 0) rotateY(180deg);
    }
}
@keyframes teacherUnclick {
    0% {
        background: url('/images/le_xue_teacher_unclick1.png') center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    50% {
        background: url('/images/le_xue_teacher_unclick2.png') center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    100% {
        background: url('/images/le_xue_teacher_unclick1.png') center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@keyframes teacherClick {
    0% {
        background: url('/images/le_xue_teacher_click1.png') center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    50% {
        background: url('/images/le_xue_teacher_click2.png') center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    100% {
        background: url('/images/le_xue_teacher_click1.png') center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}